:root {
    --primary-color: #0d2f44;
    /* Define tu color aquí */
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    /* Ajusta según sea necesario */
}

.btn-custom {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: #bfe6f8 !important;
    /* Para asegurarte de que el texto sea legible */
    transition: all 0.3s ease;
}

.btn-custom:hover {
    transform: scale(1.05);
    /* Aumenta ligeramente el tamaño */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    /* Agrega una sombra suave */
    background: linear-gradient(to bottom, #0d2f44 0%, rgba(56, 118, 233, 0.8) 100%);
    /* Aplica un degradado */
}

.btn-custom-editar {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: #bfe6f8 !important;
    transition: all 0.3s ease;
}

.btn-custom-editar:hover {
    transform: scale(1.05);
    /* Aumenta ligeramente el tamaño */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    /* Agrega una sombra suave */
    background: linear-gradient(to bottom, #0d2f44 0%, rgba(56, 118, 233, 0.8) 100%);
    /* Aplica un degradado */
}

/* Estilo para el enlace de eliminar */
.eliminar-profesional {
    color: red;
    /* Color rojo */
    text-decoration: none;
    /* Sin subrayado */
}

.button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #bfe6f8;
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 1rem;
}

/* Estilo personalizado para el botón Guardar */
.btn-custom-save {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: #bfe6f8 !important;
    transition: all 0.3s ease;
}

.btn-custom-save:hover {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    box-shadow: 0px 15px 20px rgba(94, 170, 233, 0.4);
    color: #bfe6f8;
    transform: translateY(-7px);
}

.button:hover {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    box-shadow: 0px 15px 20px rgba(94, 170, 233, 0.4);
    color: #bfe6f8;
    transform: translateY(-7px);
}

.button:active {
    transform: translateY(-1px);
}

/* Estilos para ocultar el botón en dispositivos móviles */
@media screen and (max-width: 768px) {
    .button {
        display: none;
        /* Oculta el botón */
    }
}